<nav class="navbar navbar-expand-sm mb-4 navbar-dark" data-component="navigation">
  <div class="container">
    <a alt="{{ site.title }}" class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.logo }}" srcset="/img/odp-logo@2x.png 2x" alt="OpenDataPhilly" title="OpenDataPhilly">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% for link in site.navigation %}
          {% if page.url contains link.url %}
          <li class="nav-item"><a class="nav-link text-light active" href="{{ site.baseurl }}{{ link.url }}" aria-current="page">{{ link.title }}</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link text-light" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <a class="github-logo d-none d-md-block" href="https://github.com/azavea/opendataphilly-jkan">
      <img src="{{site.baseurl}}/img/github-mark-white.svg" width="30" height="30">
    </a>

  </div>
</nav>
